<div class="flex ">
  <h2>
    Épületek
  </h2>
  <p style="font-weight: bold; margin: 0">
    Kattints rá, amelyiket szeretnéd megvenni.
  </p>
  <p style="margin: 0;">
    Egyszerre csak egy épület épülhet!
  </p>
  <div class="main-content">
    <div *ngFor="let building of buildings; let i = index" (click)="selected(building)" class="content" tabindex="-1">
      <img src='../../../../assets/images/building_{{building.buildingType}}.png'>
      <div class="building-name">
        {{building.name}}
      </div>
      <div class="building-desc">
        <div *ngFor="let desc of building.description">
          {{desc}}
        </div>
      </div>
      <div class="quantity">
        {{data.building[i]}} db
      </div>
      <div class="price">
        {{building.price}} Gyöngy / db
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="buttons-div">
    <button [disabled]="!selectedBuilding" mat-button class="building-button" (click)="sendData()" id="build-button">Megveszem</button>
  </div>

</div>