<div class="flex ">
  <h2 >
    Épületek
  </h2>
  <p style="font-weight: bold; margin: 0">
    Kattints rá, amelyiket szeretnéd megvenni.
  </p>
  <p style="margin: 0;">
    Egyszerre csak egy épület épülhet!
  </p>
  <div class="main-content">
    <div *ngFor="let building of buildings; let i = index" (click)="selected(building)" class="content" tabindex="-1">
      <img src='../../../../assets/images/building_{{building.buildingType + 1}}.png'>
      <div class="building-name">
        {{building.name}}
      </div>
      <div *ngIf="building.resident != 0" class="building-desc">
        {{building.resident}} embert ad a népességhez
      </div>
      <div *ngIf="building.coral != 0" class="building-desc">
        {{building.coral}} korallt termel körönként
      </div>
      <div *ngIf="building.hostCapacity != 0" class="building-desc">
        {{building.hostCapacity}} egységnek nyújt szállást
      </div>
      <div class="quantity">
        {{data.building[i]}} db
      </div>
      <!-- <div class="price">
        {{building.}} Gyöngy / db
      </div> -->
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="buttons-div">
    <button [disabled]="!selectedBuilding" mat-button class="building-button" (click)="sendData()" id="build-button">Megveszem</button>
  </div>

</div>