.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 28vh;
  background-color: #03255f;
  margin-bottom: 0.4vh;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 4vh;
  background-color: #03255f;
  height: 25vh;
  margin: 5vh;
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 4vh;
  background-color: #03255f;
  height: 5vh;
}

::ng-deep .mat-dialog-container {
  background-color: #03255f !important;
  color: white;
  border-radius: 16px;
}

.building-modal {
  background-color: red;
}

.buildingButton {
  display: block;
  width: 10vw;
  background: transparent linear-gradient(258deg, #9ffff0 0%, #6beee9 36%, #0fcfde 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #3b7dbd;
  border-radius: 90px;
  border: none;
  font-family: baloo;
  font-size: 0.8vw;
  letter-spacing: 0px;
  color: #001234;
  padding: 0.5%;
  margin-bottom: 1%;
}

button:disabled {
  opacity: 0.4;
  color: #001234;
}

.buildingName {
  font-weight: bold;
  margin: none;
}

.buildingDesc {
  font-weight: bold;
  margin: none;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  outline: none;
  border-radius: 16px;
}

div:focus {
  background-color: rgba($color: #ffff, $alpha: 0.12);
  outline: none;
  border-radius: 16px;
}

.quantity {
  margin: 0.5vh;
}

.price {
  margin-bottom: 0.5vh;
}
