

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: transparent url('../../../../../../assets/background.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 100vh;

}

.title{
  text-align: left;
  font: Regular 93px/147px Baloo;
  letter-spacing: 0px;
  color: #9FFFF0;
  opacity: 1;
  font-size: 44px;
}

.login-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: fit-content;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  opacity: 1;
}

h2{
  text-align: center;
}

input {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 0.39;
  margin: 10px;
  height: 3vh;
  width: 20vw;
  border: none;

}

.card-title{
  text-align: center;
  font: Regular 32px/51px Baloo;
  letter-spacing: 0px;
  color: #1C3E76;
  opacity: 1;
}

.login-button{
  background: transparent linear-gradient(258deg, #9FFFF0 0%, #6BEEE9 36%, #0FCFDE 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #3B7DBD;
  border-radius: 90px;
  opacity: 1;
  border: none;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;

  text-align: center;
  font: Regular 18px/28px Baloo;
  letter-spacing: 0px;
  color: #001234;
  font-size: 20px;

}

.register-button{
  background: none;
  border: none;
  text-align: center;
  font: Regular 18px/28px Baloo;
  letter-spacing: 0px;
  color: #9FFFF0;
  opacity: 1;
  font-weight: 800;
  padding: 10px
}
