
.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;


}

.title{
  text-align: left;
  letter-spacing: 0px;
  color: #9FFFF0;
  opacity: 1;
  font-size: 5vw;
  margin: 0;
  right:  5%;
  font-family: baloo;

}

.login-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: fit-content;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  opacity: 1;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-family: baloo;
}

h2{
  text-align: center;
  font-family: baloo;
}

input {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 0.39;
  margin: 10px;
  height: 4vh;
  width: 20vw;
  border: none;
  outline: none;

}

.card-title{
  text-align: center;
  letter-spacing: 0px;
  color: #1C3E76;
  opacity: 1;
}

.auth-button{
  background: transparent linear-gradient(258deg, #9FFFF0 0%, #6BEEE9 36%, #0FCFDE 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #3B7DBD;
  border-radius: 90px;
  opacity: 1;
  border: none;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
  letter-spacing: 0px;
  color: #001234;
  font-size: 1.3vw;
  width: 12vw;
  outline: none;
  font-family: baloo;
  font-weight: lighter;
  cursor: pointer;

}

.mode-button{
  background: none;
  border: none;
  text-align: center;
  letter-spacing: 0px;
  color: #9FFFF0;
  opacity: 1;
  font-weight: 800;
  padding: 10px;
  outline: none;
  font-size: 1vw;
  cursor: pointer;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 18vw;
  max-width: 20vw;
  width: 100%;
}

.alert-danger {
  color: red;
}

::ng-deep .mat-snack-bar-container{
  background-color: #001234 !important;
  color: #9FFFF0;
  font-weight: bold;
}

body {
  background-image: url('../../../../../../assets/background/undersea_game-02.png');
  background-repeat: no-repeat;
}

.wave {
  --c:red;   /* Color */
  --t:7px;   /* Thickness */
  --h:10vw;  /* Height  */
  --w:20vw; /* Width  */
  --p:13px;  /* adjust this to correct the position when changing the other values*/
  
  margin:5px auto;
  padding-top: 10vh !important;
  width: 20vw;
  height: 3vw;
  overflow:hidden;
  position:relative;
}
.wave:before {
  content:"";
  position:absolute;
  padding-top: 10vh;;
  top:0;
  left:0;
  width:200%;
  bottom:0;
  
  background:
    radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t))),
    radial-gradient(farthest-side at 50% calc(0%   - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t)));
    
  background-size:var(--w) var(--h);
  background-position:calc(var(--w)/2) calc(-1*(var(--h)/2)),0px calc(var(--h)/2);
  background-repeat:repeat-x;
  background-origin:content-box;
  
  animation:move 5s infinite linear;
}

@keyframes move {
  to {
   transform:translateX(-50%);
  }
}