::ng-deep .mat-dialog-container {
    background-color: #03255f !important;
    color: white;
    overflow-x: hidden;
    border-radius: 16px;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .infos {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
  }
  .mat-table {
    width: 100%;
    text-align: left;
    font-family: open-sans-regular;
    background-color: #03255f !important;
    font-size: 1vw;
  }
  h1 {
    text-align: left;
    font-family: baloo;
    font-size: 2vw;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  mat-tab .labels {
    font-family: baloo;
    font-size: 1vw;
    color: red;
  }
  .mat-tab-label {
    font-family: baloo;
    font-size: 1vw;
    color: red;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #03255f;
    border-radius: 2px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3f68ae;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #03255f;
  }
  
  .onSelect{
    .checkmark {
        display:inline-block;
        width: 22px;
        height:22px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }
    
    .checkmark-circle {
        position: absolute;
        width:22px;
        height:22px;
        background-color: #9FFFF0;
        border-radius:11px;
        left:0;
        top:0;
    }
    
    .checkmark-stem {
        position: absolute;
        width:3px;
        height:9px;
        background-color:#03255F;
        left:11px;
        top:6px;
    }
    
    .checkmark-kick {
        position: absolute;
        width:3px;
        height:3px;
        background-color:#03255F;
        left:8px;
        top:12px;
    }
 }
 ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #03255F; 
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3F68AE; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #03255F; 
}
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #03255F;
  font-weight: 700;
}

/* Styles for the active tab label */
 .mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #03255F;
  font-weight: 700;
}

/* Styles for the ink bar */
::ng-deep  .mat-ink-bar {
  background-color: #03255F;
}

  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #3F68AE;
    height: 5px;
  } 