<div class="flex ">
    <h2>
      Fejlesztések
    </h2>
    <div class="guide">
      Kattints rá, amelyiket szeretnéd megvenni.
    </div>
    <div class="info">
        Minden fejlesztés 15 kört vesz igénybe, egyszerre csak egy dolog fejleszthető és minden csak egyszer fejleszthető ki (nem lehet két kombájn).
    </div>
    <div class="main-content">
      <div *ngFor="let development of developments" (click)="selected(development)" class="content" tabindex="-1">
        <img src='../../../../assets/images/development_{{development.developmentType}}.png'>
        <div class="developmentName">
          {{development.name}}
        </div>
        <div class="developmentDesc">
          {{development.desc}}
        </div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
  </div>
  <div class="buttonsDiv">
    <button mat-button class="developmentButton" id="developmentButton" (click)="sendData()">Megveszem</button>
  </div>