################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Backend/UnderseaBackend/Undersea.DAL/obj
