################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Backend/UnderseaBackend/Undersea.DAL/obj
/src/Backend/UnderseaBackend/Undersea.BLL/obj
/src/Backend/UnderseaBackend/Undersea.API/obj
/src/Backend/UnderseaBackend/.vs/UnderseaBackend/v16
/.vs
docker/my-vol
