################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Backend/UnderseaBackend/Undersea.DAL/obj
/src/Backend/UnderseaBackend/Undersea.BLL/obj
/src/Backend/UnderseaBackend/Undersea.API/obj
/src/Backend/UnderseaBackend/.vs/UnderseaBackend/v16
/.vs
/src/Backend/UnderseaBackend/Undersea.DAL/Migrations/20200715081259_buildings.cs
/src/Backend/UnderseaBackend/Undersea.DAL/Migrations/20200715081259_buildings.Designer.cs
/src/Backend.zip
/src/Backend/UnderseaBackend/Undersea.API/wwwroot
/src/Frontend/Undersea-Angular/dist/Undersea-Angular
