
<div class="flex ">
    <h2>
      Sereg
    </h2>
    <p style="font-weight: bold; margin: 0">
      Kattints rá, amelyiket szeretnéd megvenni.
    </p>
    <div class="main-content">
      <div *ngFor="let unit of this.army"  class="content" tabindex="-1">
  
        <mat-card class="imgCard">
            <img src={{unit.img}} >
        </mat-card>
        <div class="unitName">
          {{unit.name}}
        </div>
        <div class="unitContent">
            <div class="descriptions">
                <div>Birtokodban:</div>
                <div>Támadás/Védekezés</div>
                <div>Zsold (/kör/példány</div>
                <div>Ellátmány</div>
                <div>Ár</div>
            </div>
            <div class="values">
    
                <div class="quantity">
                  0 db
                </div>
                <div class="attack/def">
                    {{unit.damage}}/{{unit.defense}}
                </div>
                <div class="pay">
                    {{unit.foodNecessity}} Gyöngy
                </div>
                <div class="food">
                    {{unit.foodNecessity}} Korall
                </div>
                <div class="price">
                    {{unit.price}} Gyöngy
                </div>
            </div>
            <div class="plusminus">
                
            </div>
        </div>    
  
      </div>
  
  
    </div>
    <mat-divider></mat-divider>
    <div class="buttonsDiv">
      <button mat-button class="armyButton" id="armyButton">Megveszem</button>
    </div>
  
  </div>