.card {
    width: 10vw;
    height: 20vh;
    border-radius: 16px;
    opacity: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-family: baloo;
    outline: none;
    text-align: center;
}
.card span {
    display: block;
    font-family: baloo;
    font-size: 1.2vw;
    opacity: 1;
    color: white;
}

.card > span > img {
    margin-top: 5%;
    width: 4vw;
    height: 5vw;
    border: 2px solid #428DFF;
	border-radius: 2vw;
	opacity: 1;
}