
  <div class = "flexbox bg-container">

    <div class="wave" style="--w:100px;--h:30px;--p:12.5px; --t:8px;--c:#9FFFF0"></div>
  
    <h2 class = "title">Undersea</h2>
  
    <mat-card class = "login-card">
  
      <h2 class="card-title">Belépés</h2>
  
        <form *ngIf="!isReg" [formGroup]="loginForm" class="auth" (ngSubmit)="login()">
  
            <input  id="name" name="name" type="text" formControlName="name" placeholder="Felhasználónév">
            <div *ngIf="loginForm.controls.name.invalid && (loginForm.controls.name.dirty || loginForm.controls.name.touched)"
              class="alert-danger">
              <div *ngIf="loginForm.controls.name.errors.required">
                Név kitöltése költelező
              </div>
            </div>
  
            <input type="password" formControlName="password" placeholder="Jelszó">
            <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
              class="alert-danger">
              <div *ngIf="loginForm.controls.password.errors.required">
                Jelszó kitöltése költelező
              </div>
            </div>
  
            <button  class="auth-button" type="submit" [disabled]="!loginForm.valid">Belépés</button>
  
        </form>
  
        <form *ngIf="isReg" [formGroup]="registerForm" class="auth" (ngSubmit)="register()">
  
            <input type="text" formControlName="name" placeholder="Felhasználónév">
            <div *ngIf="registerForm.controls.name.invalid && (registerForm.controls.name.dirty || registerForm.controls.name.touched)"
              class="alert-danger">
              <div *ngIf="registerForm.controls.name.errors.required">
                Név kitöltése kötelező
              </div>
              <div *ngIf="registerForm.controls.name.errors.whitespace">
                A név nem tartalmazhat szóközt!
              </div>
            </div>
  
            <input id="password" class="form-control" type="password" formControlName="password" placeholder="Jelszó" minlength="8">
            <div *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)"
              class="alert-danger">
              <div *ngIf="registerForm.controls.password.errors.required">
                Jelszó kitöltése kötelező
              </div>
              <div *ngIf="registerForm.controls.password.errors.minlength">
                A jelszó legalább 8 karakter legyen!
              </div>
            </div>
  
            <input type="password" formControlName="password2" placeholder="Jelszó megerősítése" minlength="8">
            <div *ngIf="registerForm.controls.password2.invalid && (registerForm.controls.password2.dirty || registerForm.controls.password2.touched)"
              class="alert-danger">
              <div *ngIf="registerForm.controls.password2.errors.required">
                Jelszó kitöltése költelező
              </div>
              <div *ngIf="registerForm.controls.password2.errors.minlength">
                A jelszó legalább 8 karakter legyen!
              </div>
            </div>
  
            <input type="text" formControlName="cityName" placeholder="A városod neve, amit építesz">
            <div *ngIf="registerForm.controls.cityName.invalid && (registerForm.controls.cityName.dirty || registerForm.controls.cityName.touched)"
              class="alert-danger">
              <div *ngIf="registerForm.controls.cityName.errors.required">
                Városnév kitöltése költelező
              </div>
            </div>
  
            <button class="auth-button" type="submit" [disabled]="!registerForm.valid">Regisztráció</button>
  
        </form>
  
      <button *ngIf="!isReg" class = "mode-button"
      (click) = "changeMode(true)">Regisztráció</button>
  
      <button *ngIf="isReg" class = "mode-button"
      (click) = "changeMode(false)" >Bejelentkezés</button>
    </mat-card>
  </div>


