.buttons button{
    
display: block;
width: 13%;
background: transparent linear-gradient(258deg, #9FFFF0 0%, #6BEEE9 36%, #0FCFDE 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #3B7DBD;
border-radius: 90px;
opacity: 1;
border: none;
font-family: baloo;
font-size: 25px ;
letter-spacing: 0px;
color: #001234;
opacity: 1;
padding: 0.5%;
margin-bottom: 1% ;


}

.buttons {
   margin-top: 5%;
}