<div class="flex">
  <div class="navbar">
    <a class="infos">
      <span>4.kör</span>
      <span>23.hely</span>
    </a>

    <ul class="nav-links">
      <li class="nav-item">
        <span>
          <div class="imgDiv">
            <img src="assets/images/007-shark.svg" alt="image">
          </div>
          <div class="data">0</div>
        </span>
      </li>
      <li class="nav-item"><span>
          <div class="imgDiv">
            <img src="assets/images/025-seal.svg" alt="image">
          </div>
          <div class="data">5</div>
        </span>
      </li>
      <li class="nav-item"> <span>
          <div class="imgDiv">
            <img src="assets/images/013-seahorse.svg" alt="image">
          </div>
          <div class="data">13</div>
        </span>
      </li>
      <li class="nav-item"> <span>
          <div class="imgDiv">
            <img src="assets/images/shell.svg" alt="image">
          </div>
          <div class="data">
            <div>230</div>
            <div class="secondData">20/kör</div>
          </div>
        </span>
      </li>
      <li class="nav-item"> <span>
          <div class="imgDiv">
            <img src="assets/images/018-coral.svg" alt="image">
          </div>
          <div class="data">
            <div>230</div>
            <div class="secondData">12/kör</div>
          </div>
        </span>
      </li>
      <li class="nav-item"> <span>
          <div class="imgDiv">

          </div>
          <div class="data">
            <div>1</div>
            <div  class="secondData">0 épül</div>
          </div>
        </span>
      </li>
      <li class="nav-item"> <span>
          <div class="imgDiv">

          </div>
          <div class="data">
            <div>0</div>
            <div class="secondData">1 épül</div>
          </div>
        </span>
      </li>
      <li class="nav-item"> <span>
          <div class="imgDiv">

          </div>
          <div class="data">
            <div>2</div>
            <div class="secondData">0 épül</div>
          </div>
        </span>
      </li>
    </ul>
  </div>
</div>