<div class="header">

    <div class="infos">
        <ul>
            <li class="game-infos"><span>4.kör</span></li>
            <li class="game-infos"><span>23.hely</span></li>
            <li class="icons">
                    <span><img src="assets/images/007-shark.svg" alt="image"></span>
                    <span>0</span>
            </li>
            <li>
                <span><img src="assets/images/025-seal.svg" alt="image"></span>
                <span>5</span>
            </li>
            <li>
                <span><img src="assets/images/013-seahorse.svg" alt="image"></span>
                <span>13</span>
            </li>
            <li>
                <span><img src="assets/images/shell.svg" alt="image"></span>
                <span>230</span>
            </li>
            <li>
                <span><img src="assets/images/018-coral.svg" alt="image"></span>
                <span>230</span>
            </li>

        </ul>


    </div>
   
</div>