.flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.navbar {
	width: 95%;
	background-color: rgba($color: white, $alpha: 0.4);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border-radius: 16px;
	padding-left: 2vw;
	padding-right: 1vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	margin-top: 1vh;
}

.infos {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-family: baloo;
	font-size: 1vw;
	color: #1c3e76;
	width: 20vw;
	margin-right: 8vw;
	
	
}

img{
	width: 2.5vw;
	height: 2.5vw;
}

.building-img {
	width: 3.3vw;
	height: 3.3vw;
}

.infos span {
	margin: 0.8vw;
}

.nav-links {
	list-style: none;
	display: flex;
	width: 70vw;
}

ul {
	padding-inline-start: 2vw;
}

.nav-item span {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.5vw 0.5vw;
	text-decoration: none;
	font-family: baloo;
	letter-spacing: 0px;
	margin-left: 0.5vw;
	color: #1c3e76;
}

.nav-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.img-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.6vh;
	background: #9ffff0 0% 0% no-repeat padding-box;
	border: 2px solid #428dff;
	border-radius: 14px;
	width: 2.5vw;
	height: 2.5vw;
}

.data {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 1rem;
	font-size: 1vw;
	font-family: baloo;
	letter-spacing: 0px;
	width: 3vw;
	text-align: center;
}

.second-data {
	display: flex;
	flex-direction: row;
	font-size: 0.7vw ;
	width: 2.5vw;
}

button {
	background: transparent linear-gradient(258deg, #9ffff0 0%, #6beee9 36%, #0fcfde 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #3b7dbd;
	border-radius: 90px;
	opacity: 1;
	border: none;
	font-family: baloo;
	font-size: 1vw;
	letter-spacing: 0px;
	color: #001234;
	width: 10vw;
	height: 5vh;
	margin-left: 1vw;
}
