<div class="container">
    <h1>Támadás</h1>
    <div class="infos">
        <table>
            <tr>
                <th>1. Jelöld ki, kit szeretnél megtámadni!</th>
                <th>2. Állítsd be, kiket küldessz harcba!</th>
            </tr>
            <tr>
                <td><input type="text" placeholder="Felhasználónév"></td>
                <td><img src='assets/images/007-shark.svg'>Lézercápa: 20 példány </td>
            </tr>
            <tr>
                <td></td>
                <td><img src='assets/images/025-seal.svg'>Rohamfóka: 2 példány</td>
            </tr>
            <tr>
                <td></td>
                <td><img src='assets/images/013-seahorse.svg'>Csatacsikó: 50 példány</td>
            </tr>
           
        </table>
       
    </div>

    <h3></h3>
   
</div>

