html {
    background-color: #03255f;
    position: relative;
}

.container{
    display: flex;
    text-align: left;
   flex-direction: column;
   align-items: center;
   height: 40%;
}

.tables {
    display: flex;
    flex-direction: row;
   
   
}


h1 {
    margin-left: 12%;
    font-family: baloo;
    font-size: 32px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    
}
.search {
    width: 378px;
    height: 40px;
    font-family: baloo;
    border-radius: 15px;
    color: #1c3e76;
    font-size: 16px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 0.39;
    margin-right: 20%;
    outline: none;
}


.infos_2 > table > tr > td > img {
    width: 42px;
    height: 45px;
    background: #9ffff0 0% 0% no-repeat padding-box;
    border: 2px solid #428dff;
    border-radius: 14px;
    opacity: 1;
    padding: 3%;
    zoom: 0.8;
    margin: 3%;
}

.infos_2 > table > tr > td  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
	justify-content: space-around;
 }
 

 
::ng-deep .mat-dialog-container{
    background-color: #03255F !important;
    color: white;
    border-radius: 16px;
  
  }

  .matslider {
    .mat-slider-thumb {
        background-color: red !important;
    }
  }
  
.infos{
    
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;

}
.slider {
    width: 30px;
}
::ng-deep .mat-slide {
    background-color: #ffe066;
}
 button {
    background: transparent linear-gradient(258deg, #9FFFF0 0%, #6BEEE9 36%, #0FCFDE 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #3B7DBD;
    border-radius: 90px;
    opacity: 1;
    font-family: baloo;
    padding-top: 0.2%;
    text-align: center;
    margin-top: 5%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 192px;
    height: 50px;
    font-size: 18px;
    padding: 1%;
    padding-left: 4%;
   
  
    
 }


.infos > span {
    font-weight: bold;
}

 .left-table{
    background-color: #03255F !important;
    


 }

 .onSelect{
    .checkmark {
        display:inline-block;
        width: 22px;
        height:22px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }
    
    .checkmark_circle {
        position: absolute;
        width:22px;
        height:22px;
        background-color: #9FFFF0;
        border-radius:11px;
        left:0;
        top:0;
    }
    
    .checkmark_stem {
        position: absolute;
        width:3px;
        height:9px;
        background-color:#03255F;
        left:11px;
        top:6px;
    }
    
    .checkmark_kick {
        position: absolute;
        width:3px;
        height:3px;
        background-color:#03255F;
        left:8px;
        top:12px;
    }
 }
 ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #03255F; 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3F68AE; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #03255F; 
  }
 